%ul.reasons
  %li.personalise
    %h4 Free personalisation
    %p All our shirts are available with free personalisation, just fill in the details when you order.
  %li.quality
    %h4 Quality assurance
    %p We check all the produts we ship so you can rely on us.
  %li.delivery
    %h4 Next day delivery
    %p Order before 4pm and your order will be with you the next business day.