%ul.reasons
  %li
    %h4 Retro is now
    %p From vinyl records to Polaroid cameras, “Retro” is on the rise. Some people love the nostalgia associated with things their parents or grandparents might have had, or the glamour of a bygone age. Others are attracted to particular time periods because of their love of the popular culture of their youth. At POP! Tees we like to call it "Modern Retro". We take the best of retro cool and create modern products which look great and feel great too.
  %li.support
    %h4 Free personalisation
    %p All our shirts are available with free personalisation, just fill in the details when you order.
  %li.quality
    %h4 Quality assurance
    %p We check all the produts we ship so you can rely on us.
  %li.delivery
    %h4 Next day delivery
    %p Order before 4pm and your order will be with you the next business day.
