= content_for :sidebar do
  .checkout
    %dl
      %dt Are my card details safe?
      %dd Yes! We use PayPal to process payments. By paying with PayPal, you keep your credit card information private.
      %dd PayPal keeps your financial information securely encrypted and doesn't share it with sellers or merchants. PayPal will also store your billing and shipping information so you don't have to enter it every time - making checkout fast.