- @page_title = 'Checkout'
= render 'orders/checkout_sidebar'

.checkout
  %p.secure Secure connection

  %h3 Review the products in your shopping bag
  = render 'shared/order_items', :order => @order

   
  %p.paypal
    =link_to image_tag("checkoutwithpaypal.png"), checkout_paypal_path
  %h3 Make your payment
 
