- @page_title = 'Checkout'
= render 'orders/checkout_sidebar'

.checkout
  %p.secure Secure connection

  %h3 Review the products in your shopping bag
  = render 'shared/order_items', :order => @order
  = form_tag apply_coupon_path, :html => {:class => 'checkout disableable'} do
    =label :promocode, "Enter your voucher code"
    =text_field :promocode, '', placeholder: "Voucher Code"
    %p.submit= submit_tag 'Add Voucher', data: {disable_with: 'Adding Voucher'}


  %p.paypal
    =link_to image_tag("checkoutwithpaypal.png"), checkout_paypal_path
  %h3 Make your payment
