- active_nav_item :home
- @page_title = 'Custom Tees & Workwear'
.content

  %p Our products are ideal for promotion and advertising for your company, or maybe just a one-off print for birthdays, hen & stag parties, or that special occasion.
  %p.right We supply a full range of excellent quality t-shirts, sweatshirts, poloshirts, and workwear by top brands including Fruit of the Loom, Russell, Gildan and Kustom Kit. All of these can be supplied in a wide range of colours, sizes and styles.
  #owl-demo.owl-carousel.owl-theme
    .item
      = image_tag("t-shirt.png", :alt => "Custom Tees & Workwear")
  :javascript
    $(".owl-carousel").owlCarousel({ navigation : false, autoPlay : 5000, pagination : false, singleItem:true });
  %p We always strive to give a friendly & personal service, and with many years of experience, we are sure to meet and surpass your expectations.
  %h1 Custom Tees
  %p We like to try and keep everything under one roof. It means we can personally ensure the quality of our garments and the printing, so whenever possible we’ll handle as much of the printing process in-house ourselves.
  %p Our in-house graphic design team are on hand to make your concepts a reality. From digitizing artwork to coming up with a logo from scratch we can handle it. Our in-house printing department are fully trained and experienced to ensure your printing requirements are set exactly as required.
  %p We can print t-shirts, polo shirts or hoodies in quantities of only one or hundreds.
  %h2 Workwear
  %p We supply large companies, small businesses, clubs, pubs, societies, schools, colleges and nursery schools with uniforms and work/leisurewear.
  %h3 Single colour vinyl
  %p Ideal for short runs and quick production. This vinyl comes in a range of colours including fluorescent for high visibility work wear. Despite being single colour the vinyl can be layered on a garment to make a multi-coloured design to suit your needs.
  %h3 Full colour printed transfer
  %p While thicker than a single colour vinyl this printed transfer is the perfect lightweight option for full colour images. Ideal for complex graphics and still cost effective for larger orders.
  %h3 Flexibility
  %p Vinyl can be applied to almost all fabrics given the range available. For sports tops and material that will be regularly stretched there are options for a vinyl that will adhere to the fabric and stretch with it.
  %h3 The Process
  %p We’ll supply a digital proof of the digitised design produced with the artwork file we’ll use to cut your vinyl, if any modifications are required we’ll be happy to make changes. Once the design is signed off we can start to press the vinyl on your garments and will aim to have them with you in 7-10 working days.
