- active_nav_item :faqs
- @page_title = 'Frequently asked questions'
.content
  %h1 Frequently asked questions
  %p

  %h3 What are your t-shirt sizes?
  %p
  Our t-shirts are a regular fit. Please see our
  = link_to "Size Charts", page_path(:sizing)
  for full details.
  %p

  %h3 Washing and care instructions for your t-shirts
  %p We recommend that you wash your t-shirts on a cool wash, it's better for the environment and we all should be trying to reduce our 'carbon footprint'. This is also good for your t-shirt, the cooler wash will help keep the t-shirt looking superb.
  Your t-shirt should ALWAYS be washed, dried and ironed inside out. Please DO NOT IRON over the graphics or logos, DO NOT TUMBLE DRY and lastly DO NOT DRY CLEAN.
  %p

  %h3 How do I buy your product?
  %p Online via our site, any in stock item is available to purchase directly.

  %h3 Do you only accept Paypal as a payment?
  %p Yes, Paypal is secure and our payment method. It's very easy, convenient and you don't have to have a Paypal account to use it. Paypal also accepts bank cards and credit cards.

  %h3 Can you supply your product in bulk for sale?
  %p Yes, we are currently in negotiations to supply several stores with our t-shirts. For further details on minimum supply, cost and further information please contact us.

  %h3 Exchange or Return?
  %p Please click on the link exchange or return to view our policy.

  %p Anymore questions or queries then feel free to contact us.
