- active_nav_item :home
- @full_header = true
- @page_title = 'Welcome'

#owl-demo.owl-carousel.owl-theme
  .item
    %img{:alt => "Colour It Up - 80s Style", :src => "assets/fullimage1-8d70c8a5be0ee4c5ba7bead67349fc00.jpg"}/
  .item
    %img{:alt => "Modern Fashion For The Retro At Heart", :src => "assets/fullimage2-5455a752f6f190d42381b99aa1f6736e.jpg"}/
  .item
    %img{:alt => "Roller Skates", :src => "assets/fullimage3-4db1d43524fcd835305fb7c595673820.jpg"}/
:javascript
  $(".owl-carousel").owlCarousel({ transitionStyle : "scaleUp", navigation : false, autoPlay : 5000, pagination : false, singleItem:true });

.home
  %p.browse= link_to "Browse our whole catalogue", catalogue_path
  %br
  %h2 Introducing our featured products

= render 'shared/product_list', :products => @products
