- @page_title = 'Returns Policy'
.content
  %h2 Returns Policy
  %p Thanks for shopping at POP! Tees.
  %p If you are not entirely satisfied with your purchase, we're here to help.
  %h3 Returns
  %p You have 30 calendar days to return an item from the date you received it.
  %p To be eligible for a return:
  %ul
    %li Your item must be unused and in the same condition that you received it.
    %li Your item must be in the original packaging.
    %li Your item needs to have the receipt or proof of purchase.
  %h3 Refunds
  %p Once we receive your item, we will inspect it and notify you that we have received your returned item. We will immediately notify you on the status of your refund after inspecting the item.
  %p If your return is approved, we will initiate a refund to your credit card (or original method of payment).
  %p You will receive the credit within a certain amount of days, depending on your card issuer's policies.
  %h3 Personalised Items
  %p We can only offer an exchange or refund on personalised items where the item is faulty.
  %h3 Shipping
  %p You will be responsible for paying for your own shipping costs for returning your item. Shipping costs are non­refundable. If you receive a refund, the cost of return shipping will be deducted from your refund.
  %h3 Contact Us
  %p If you have any questions on how to return your item to us, contact us.