- active_nav_item :shipping
- @page_title = 'Shipping'
.content
  %h2 UK and International Postal Rates
  %p POP! Tees use DPD for UK and International postal deliveries.

  %h3 For UK Orders
  %p Allow 3 to 5 business days for delivery.

  %h3 Europe
  %p Standard Airmail Delivery
  %p Allow 5 to 7 business days for delivery.

  %h3 Rest of World
  %p Standard Airmail Delivery
  %p Allow upto 21 days for delivery.

  %ul
    %li Multiple orders are despatched together to reduce postage charges and to speed up delivery.
    %li Paypal Credit card authorisation and verification must be received prior to order processing and despatch.
    %li You’ll receive your order within times specified during business days (Monday - Friday, not including public holidays).
