- active_nav_item :sizing
- @page_title = 'Size Charts'
#sizing
  .details
    %h1 Size Charts - Unisex Tees
    .left
      %dt.padding &nbsp;
      %dl Fruit of the Loom Super Premium T-Shirt
      %dl One-piece cotton/Lycra® neck with shoulder to shoulder taping.
      %dl Guaranteed to perform at 60° wash
      %dl Produced using Belcoro® yarn for a softer feel and cleaner printing process
      %dl 100% cotton*, Belcoro® yarn, *Ash 99% cotton, 1% polyester, *Heather Grey 97% cotton, 3% polyester
      %dl White – 190gm/m2,  Colour – 205gm/m2
    .middle
      %p &nbsp;
    .right
      %dt.padding Sizing
      %table
        %tr
          %th Size
          %th Width*
          %th Length**
        %tr
          %td Small
          %td 48.5cm
          %td 69.5cm
        %tr
          %td Medium
          %td 53.5cm
          %td 72cm
        %tr
          %td Large
          %td 56cm
          %td 74.5cm
        %tr
          %td XL
          %td 61cm
          %td 77cm
        %tr
          %td XXL
          %td 66cm
          %td 78.5cm
        %tr
          %td XXXL
          %td 71cm
          %td 80cm
      %p &nbsp;
      %p Tolerance +/- 2.5cm width 2.5cm length
      %p * Measure across garment 1cm down from armholes
      %p ** Measure from highest point of shoulder to bottom edge of garment
