- @page_title = 'Terms & Conditions'
.content
  %h1 Terms & Conditions
  %p
  %h3 Copyright
  %p All Web site design, text, graphics, the selection and arrangement thereof, and all software compilations, underlying source code, software and all other material on this Web site are copyright POP! Tees ALL RIGHTS RESERVED.

  %p Permission is granted to electronically copy and to print in hard copy portions of this Web site for the sole purpose of placing an order with POP! Tees   or using this Web site as a shopping resource. Any other use of materials on this Web site including reproduction for purposes other than those noted above, modification, distribution, or republication–without the prior written permission of POP! Tees is strictly prohibited.

  %h3 Trademarks
  %p Product and company names mentioned on this Web site may be the trademarks or registered trademarks of their respective owners.

  %h2 Conditions of Web Site Use
  %p
  %h3 Disclaimer
  %p TO THE FULLEST EXTENT PERMITTED BY LAW, POP! Tees IS PROVIDING THIS WEB SITE AND ITS CONTENTS ON AN “AS IS” BASIS AND MAKES NO (AND EXPRESSLY DISCLAIMS ALL) REPRESENTATIONS OR WARRANTIES OF ANY KIND, EXPRESS OR IMPLIED, WITH RESPECT TO THIS WEB SITE OR THE INFORMATION, CONTENT, MATERIALS OR PRODUCTS INCLUDED IN THIS SITE INCLUDING, WITHOUT LIMITATION, WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE. IN ADDITION, THE WIREFREE WORLD DOES NOT REPRESENT OR WARRANT THAT THE INFORMATION ACCESSIBLE VIA THIS WEB SITE IS ACCURATE, COMPLETE OR CURRENT.

  %p Price and availability information is subject to change without notice.

  %p Except as specifically stated on this Web site, to the fullest extent permitted at law, neither POP! Tees nor any of its affiliates, directors, employees or other representatives will be liable for damages arising out of or in connection with the use of this Web site or the information, content, materials or products included on this site. This is a comprehensive limitation of liability that applies to all damages of any kind, including (without limitation) compensatory, direct, indirect or consequential damages, loss of data, income or profit, loss of or damage to property and claims of third parties. For the avoidance of doubt, POP! Tees   does not limit its liability for death or personal injury to the extent only that it arises as a result of the negligence of POP! Tees, its affiliates, directors, employees or other representatives.

  %h3 Interpretation
  %p In these Terms and Conditions (Terms), the following words and phrases shall have the following meanings:
  %ul
    %li “The Buyer” means the person, organisation or Company who purchases the Goods from POP! Tees.
    %li “The Company” means POP! Tees.
    %li “Contract” means the contract between the Company and the Buyer which shall be deemed to incorporate these Terms.
    %li “Goods” means any goods or services agreed in the Contract to be supplied by the Company to the Buyer.
    %li “Place of Delivery” means the place to which the Goods are to be delivered.
  %p In these Terms, reference to any statute or statutory provision shall be construed as a reference to such statute or statutory provision as amended, modified re-enacted or replaced from time to time.

  %h3 The Contract
  %p The Contract shall be on these Terms to the exclusion of all other terms and conditions, including any such terms and conditions that are purported to be included or applied by the Buyer.

  %p No terms and conditions contained in the confirmation order, purchase order or other document of the Buyer will form part of the Contract unless expressly agreed in writing by a Director of the Company. If so, that agreement will only form such an agreement for that express singular order.

  %h3 Delivery
  %p Unless otherwise agreed in writing, the Place of Delivery shall be the Buyers Premises and the Buyer shall take delivery within 7 – 10 working days of the Company notifying the Buyer that the Goods are ready for Delivery.

  %p Goods despatched to a Third Party address shall be at the express risk of the Buyer and any additional expenses resulting from delivery to a Third Party shall be borne by the Buyer.

  %p Whilst every effort is made by The Company to deliver at an agreed date and time, The Company accepts no responsibility for late delivery due to Carrier or third party delivery problems. The Buyer can at all times arrange its own delivery from the Company’s premises if preferred.

  %p Unless otherwise agreed in writing, the Buyer will be charged delivery costs for all goods.

  %p Any dates specified by the Company for delivery of the Goods are intended to be an estimate only. If no date is specified for delivery of The Goods, delivery shall be within a reasonable time.

  %p Subject to the provisions of these Terms, The Company shall not be liable for any loss, whether direct or consequential, economic or loss of profits or otherwise, arising directly or indirectly out of any delay in the delivery of The Goods.

  %p Any discrepancies or shortages as a result of damage or pilferage in transit or storage should be notified to us within 48 hours of delivery.

  %h3 Artwork
  %p The Company shall not be liable for rejection of The Goods due to incorrect processing once approval of the artwork has been signed off by The Buyer, providing the processing has been produced as shown and approved on the Company’s Artwork Approval Sheet by The Buyer.

  %h3 Supplied Goods
  %p The Company does not take any responsibility for supplied goods, although every care and attention is taken during the processing and storage.

  %p The Buyer must adequately insure any supplied goods held on their behalf either at The Company’s premises or during transit.

  %h3 Risk in and Ownership of the Goods
  %p Risk in the Goods shall pass to The Buyer on delivery.

  %p Ownership in the Goods shall not pass to The Buyer until The Company has received in full cleared funds due to the Company in respect of The Goods and all other sums which are or may become due to The Company from the Buyer on any account.

  %p Until ownership of the Goods has passed to the Buyer, the Buyer shall:
  %ul
    %li Hold the Goods on a fiduciary basis as the Company’s bailee;
    %li Store The Goods separately from all other goods of the Buyer or any third party in such a way that they remain identifiable as the Company’s property;
    %li Maintain the Goods in satisfactory condition, insured with the Company’s interest noted and hold any proceeds from insurance on trust for the Company and not mix them with any other money.

  %h3 Price
  %p The price for The Goods shall, unless otherwise agreed, be the price set out on the date of delivery in The Company’s Price List.

  %p The price for the Goods shall be exclusive of all costs of carriage and applicable VAT which The Buyer shall pay in addition. The Buyer shall pay such deposit as agreed with The Company.

  %h3 Payment
  %p Subject to paragraph 5, payment of the price of The Goods shall be due 30 days from the date of the Company’s invoice for The Goods.

  %p Payment shall not be deemed to have taken place until the receipt by The Company of the cleared funds.

  %h3 Warranties
  %p The Company warrants that the Goods are of satisfactory quality.

  %p If the Buyer wishes to make a claim under this warranty, the Buyer shall give written notice to the Company within 24hours of delivery and give The Company a reasonable opportunity to inspect the Goods in question.

  %p The Company shall not be liable for any breach of warranty if the Buyer makes any further use of The Goods after giving such notice or alters or repairs The Goods without the agreement of The Company.

  %p The Company’s liability under the warranty shall be limited to repairing or replacing The Goods in question or refunding the price of such Goods.

  %p In respect of The Buyers supplied goods which have been processed by The Company, The Company’s liability shall be limited to the refunding of the price of the processing.

  %h3 Limitation of Liability
  %p The Company shall under no circumstances be liable to The Buyer for any consequential, indirect or economic loss or damages.

  %h3 Force Majeure
  %p If either party is subject to an event of Force Majeure, that is circumstances outside its reasonable control, including but not limited to war, fire, industrial disputes or civil commotion, it shall notify the other and the first party’s obligations under these Terms shall be suspended until it notifies the other party of the end of such event of Force Majeure.

  %h3 General
  %p If any part of these Terms is found to be void or unenforceable by any Court of competent jurisdiction, such part shall be severed from these Terms which will otherwise remain in full force and effect.
