- active_nav_item :why
- @page_title = 'Why shop with us?'
.content
  %h1 Why shop with us?
  %p POP! Tees is not just a business, its a passion. We are retro & proud!
  %p A fresh, fun and one-of-a-kind selection of modern fashion for the retro at heart with something original for everyone.
  %p Don't forget, when you shop with POP! Tees you get:
  %ul
    %li One of a kind fashion which is not available anywhere else.
    %li Free Personalisation - No matter what you buy from us you can have it personalised free of charge.
    %li Made in Britain for the British music scene.
    %li Tracked deliveries from on of the UK's leading parcel delivery companies
  %p Quick customer support in English. The fast and friendly service guarantees answers to all questions and solutions to every situation. Our professional customer support team will answer your questions within one working day at the latest.
